* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:  #f4f4f4;
    color: rgba(53, 45, 45, 0.507);
    font-family: 'Hanken',sans-serif;
    flex-direction: column;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
@font-face {
    font-family: 'Hanken';
    src: url('/assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}
@media screen and (min-width: 375px) and (max-width: 1440px) {
    body {
        display: flexbox;
        max-width: 1440px;
        min-width: 375px;
    }
}
.parent {
    background-color: white;
    border-radius: 25px;
    width: 600px;
    margin: 80px auto;
    box-shadow: 5px 5px 20px hsla(241, 81%, 54%, 0.3);
}
.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}
.right {
    border-radius: 25px;
    background: white;   
    padding: 38px;
    width: 300px;
}
.blue-box {
    border-radius: 25px;
    background:linear-gradient(0deg,
    hsl(241, 81%, 54%),
    hsl(252, 100%, 67%)
    );
    padding: 40px;
    width: 300px;
    text-align: center;
}
.round {
    text-align: center;
    background: linear-gradient(0deg,
    hsla(256, 72%, 46%, 0),
    hsla(241, 72%, 46%, 1) 
    );
    border-radius: 90px;
    padding: 10px;
    width: 150px;
    height: 150px;
    margin: 20px auto;
}
.button { 
    margin: 0px auto;
}
.btn {
    background: hsl(224, 30%, 27%);
    border: none;
    border-radius: 25px;
    color: white;
    height: 45px;
    width: 100%;
    cursor: pointer;
}
.btn:hover {
    background: linear-gradient(0deg,
    hsl(241, 81%, 54%),
    hsl(252, 100%, 67%)
    );
 }
.cont {
    margin: 40px auto;
    line-height: 33px;
}
.cont2 {
    margin: 10px;
}
b {
    color: black;
}
.h1  {
    font-size: 18px;
    font-weight: 600;
    color: rgba(250, 248, 248, 0.644);
}
h2 {
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    color:  rgba(250, 248, 248, 0.3);
}
.text h3 {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    padding-top: 10px;
    color: rgba(250, 248, 248, 0.644);
}
.grt {
    text-align: center;
    justify-content: center;
    line-height: 40px;
    font-size: 25px;
    font-weight: 600;
    color: white;
}
.num {
    color: white;
    font-weight: 800;
    font-size: 55px;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
}
.summary {
    color: black;
    font-size: 18px;
    margin: 3px auto;
}
.reaction h5 {
    color: hsl(0, 100%, 67%) ;
    font-size: 15px;
    margin-top: 2px;
    padding-left: 8px;
}
.memory h5 {
    color: hsl(39, 100%, 56%);
    font-size: 15px;
    margin-top: 2px;
    padding-left: 8px;
}
.verbal h5 {
    color: hsl(166, 100%, 37%);
    font-size: 15px;
    margin-top: 2px;
    padding-left: 8px;
}
.visual h5 {
    color: hsl(234, 85%, 45%);
    font-size: 15px;
    margin-top: 2px;
    padding-left: 8px;
}
.grade h6 {
    display: inline-block;
    font-size: 15px;
    margin-top: 2px;
    padding-left: 45px;
}
.one {
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    width: 100%; 
    background: hsla(0, 100%, 67%, 0.06);
    padding: 15px;
}
.two {
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    width: 100%;
    padding: 15px;
    background: hsla(39, 100%, 56%, 0.06);
}
.three {
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 15px;
    background: hsla(166, 100%, 37%, 0.06);
}
.four {
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 15px;
    background: hsla(234, 85%, 45%, 0.06);
}



